html {
	padding-top: 25px;
	background-image: url("https://img.freepik.com/free-vector/coloured-blurred-background_1112-511.jpg");
}
h1, h2, h3 {
	font-family: "Tektur", sans-serif;
}

p, ul, ol {
	font-family: "Oswald", serif;
}
body {
	width:80%;
	padding: 20px;
	margin:0 auto;
	border-radius:20px;
	box-shadow:10px 10px 10px rgba(0,0,0,.5);
	background-color: #FFFFFF;
}
