body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
}

/* Flexbox Containers */
#top,
#middle,
#bottom {
  background-color: Whitesmoke;
  min-height: 200px;
  
}



/* Flexbox Items */
.top,
.middle,
.bottom {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}



.top.side {

}

.top.center {

}

.middle.side {

}

.middle.center {

}

.bottom.side {

}

.bottom.center {
 
}


